@model ProjeCv.Models.Entity.Skill

@{
    ViewBag.Title = "UpdateSkill";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>UpdateSkill</h2>



@using (Html.BeginForm())
{
    @Html.LabelFor(x => x.Skillme, new { @class = "control-label" })
    @Html.TextBoxFor(x => x.Skillme, new { @class = "form-control", @required = "required" })
    <br />
    <input type="submit" value="Update Skill" class="btn btn-outline-info" />
}