@model ProjeCv.Models.Entity.Award
@{
    ViewBag.Title = "UpdateAward";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Update Award</h2>

@using (Html.BeginForm())
{
    @Html.LabelFor(x => x.Id, new {@class="control-label"})
    @Html.TextBoxFor(x=>x.Id,new { @class="form-control",@readonly="readonly"})
    <br />
    @Html.LabelFor(x=>x.Awardme,new {æclass="control-label" })
    @Html.TextBoxFor(x=>x.Awardme,new { @class="form-control",@required="required"})
    <br />
    <input type="submit" value="Update" class="btn btn-outline-warning"/>
}